/* fcc step 53 */


body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
    opacity: 1;
    color: #faf9f6;
    font-family: sans-serif;
    font-size: 15px;
    
  }

fieldset{
    margin: 0 10rem;
    padding: 2rem 3rem;
    /* background-image: url('https://img.freepik.com/free-vector/pastel-ombre-background-pink-purple_53876-120750.jpg?w=2000'); */
    /* background-image:url('https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg'); */
    background-color: #1b1b32;
    border-radius: 10px;
    border-style: hidden;
    border:none;
}

label {
    display: block;
    margin: 0.5rem 0;
    align-items: center;
  }

h1,p{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px
}

h1{
    font-family:'Alexandria', sans-serif;
    color: black;
    font-weight: bold;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20;
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

/* 
            yung width pag hindi naka% pag niresize mismong browser nakastuck lang sya 
form {
    width: 60rem;
    margin: 0 auto;
    padding-bottom: 2em;
  }
 */

 form{
    width: 100%;
    margin: 0 auto;
    max-width: 60rem;
    min-width: 0 auto;
    padding-bottom: 2em;
 }
input, textarea, select{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

select{
    display: block;
    margin: 10px 0 0 0;
    width: 101%;
    min-height: 3em;
}

textarea{
    display:block;
    height: 4rem;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 4rem;
    max-height: 10rem;
    resize: vertical;
}

.inline{
    width:unset;
    margin: 0 1em 0 0;
    vertical-align: middle;
}

.submit_button{
    height:3rem;
    background-color: #39ef75;
}