body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #faf9f6;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
  }

fieldset{
    margin: 0 10rem;
    padding: 2rem 3rem;
}

label {
    display: block;
    margin: 0.5rem 0;
  }

h1,p{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px
}
h1{
    font-family: sans-serif
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20;
    margin-top: 0;
    margin-bottom: 20px;
}
form {
    width: 60rem;
    margin: 0 auto;
    padding-bottom: 2em;
  }

select{
    display: block;
    margin: 10px 0 0 0;
    width: 101%;
    min-height: 2.5em;
}

input[type="text"],input[type="number"], input[type="email"]{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

textarea{
    display:block;
    height: 4rem;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 4rem;
    max-height: 10rem;
    resize: vertical;
}

